<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="/css/home.css">
    <title>ChatApp</title>
</head>
<body>
    <div class="sidenav">
        <a>Home</a>
        <a onclick="test()">user1</a>
    </div>

    <div class="main">
        <h2 id="hi">ChatApp</h2>
        yeah
    </div>
    <script>
        function test() {
            window.location.replace("http://localhost:3000/chat/" + 3);
        }
    </script>
</body>
</html>